* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}

#navbar {
    width: 100%;
    height: 6.5rem;
    background-color: rgb(0, 96, 185);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.navbar__buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul,
li {
    list-style: none;
}

.card__list {
    margin-top: 1.6rem;
}

.card__list>li {

    font-size: 1.6rem;
    padding: 1px;
    margin: 5px 0;

}

.navbar__buttons-item {
    font-weight: 700;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 110rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar__icon-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    color: white;
}

.logo-text {
    color: white;
    padding: 1.5rem;
    font-size: 1.8rem;
}


#form {
    display: flex;
    flex-direction: row;
}

#form_city {
    line-height: 2rem;
    border: 6px solid white;
    border-radius: 3px 0px;

}

#form_submit {
    line-height: 2rem;
    padding: 3px;
    background-color: white;
    border: 3px solid white;
    margin-left: -5px;
    border-radius: 3px 0;
}


#search_icon {
    color: rgb(0, 96, 185);
}


.heading {
    margin: 15px 0;
    padding: 10px;
}

.w-heading {
    font-size: 2.4rem;
    font-weight: 500;
}

.descriptor {

    text-align: center;

}


#map {
    height: 50rem;
    width: 110rem;
    margin: 2.5rem 0;
}

footer {
    background-color: rgb(0, 96, 185);
    width: 100%;
    height: 15rem;

}

.wrapper {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#w_location,
#w_temperature {
    font-size: 2.4rem;
    color: rgb(32, 32, 32);
}